body {
  font-family: Arial;
  background: #f0f2f5;
  margin: 0;
}

header {
  background: #002147;
  color: white;
  padding: 10px;
  text-align: center;
}

header img {
  width: 80px;
}

#chat {
  height: 70vh;
  overflow-y: auto;
  padding: 15px;
  background: white;
}

.user {
  text-align: right;
  margin: 10px;
  color: blue;
}

.bot {
  text-align: left;
  margin: 10px;
  color: black;
}

.input-area {
  display: flex;
  padding: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: #002147;
  color: white;
  border: none;
}
